.header-container{
    display: flex;
    background-color: #e4e1dc;
    justify-content: space-between;
    font-size: 20px;
    height: 78px;
    align-items: center;
}

.btn-container{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#btn-header {
    background: transparent;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    background-image: url('../images/home.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#title-header{
    color: #443c70;
    padding: 5px;
    font-size: 30px;
}

#redirect-header{
    background: transparent;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    background-image: url('../images/empty-hearth.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
